.overlay-scroll-bar{
	overflow-y:hidden;
}
.truck-icon{
	width:100%;
}
.navbar-background-shadow{
	background-color: #fff;
    box-shadow: 0 0 12px 4px #d9d9d9;
    border-color: #fff;
    margin-bottom: 3px;
}
.navbar-brand-no-padding{
	padding:0;
}
.navbar-padding li>a{
	padding-top:20px;
	color:#ddd;
}
.navbar-border li>a{
	border-left:1px solid #c6c1c0;
}
.navbar-margin{
	margin-top: 14px;
    margin-bottom: 11px;
}
.address-line{
	margin: 21px 13px 10px;
	color:#ddd;
}
.navbar-padding-right li>a{
	padding-top:20px;
	padding-bottom:20px;
	color:#ddd;
}
.navbar-padding-right li a>i{
	color:#6f2d91;
	font-size: 16px;
}
.btn-get-direction{
	border-radius: 20px;
	border-color:#db1e48;
	color:#db1e48;
	background-color: #fff;
	outline:none;
}
.btn-get-direction:visited{
	background-color:brown;
	color:#fff;
	border:none;
}
.btn-get-direction:hover{
	background-color:#cc0d38;
	color:#fff;
	border-color:#db1e48;
}
.btn-get-direction:focus{
	background-color:#c1022d;
	color:#fff;
	outline: none;
}
.btn-get-direction:active:focus{
	background-color:#c1022d;
	color:#fff;
	outline: none;
}
.tag h1{
	color:#db1e48;
	margin-top:10px;
	font-family:Lora-Regular;
	font-size: 45px;
}
@font-face {
    font-family: 'Lora-Regular';
    src: url(../fonts/Lora-Regular.ttf);
    src: url(../fonts/Lora-Regular.ttf) format('truetype');
}
.tabs-margin{
	margin:40px 0;
}
.tabs-margin a{
	margin: 6px;
    border: 1px solid #ddd;
    padding: 10px 28px;
    border-radius: 25px;
    color: #8c8c8c;
    background-color: #fff;
    text-decoration: none;
}
.tabs-margin a:hover{
	border: 1px solid #db1e48;
    color: #fff;
    background-color: #db1e48;
    text-decoration: none;
}
.tabs-margin a:active{
    border: 1px solid #db1e48;
    color: #db1e48;
    background-color: #fff;
    text-decoration: none;
}
.tabs-margin a:focus{
	border: 1px solid #db1e48;
    color: #db1e48;
    background-color: #fff;
    text-decoration: none;
}
.food-images{
	width:100%;
}

.thumbnail {
    position:relative;
    overflow:hidden;
    padding:0;
    border:none;
}
 
.caption {
    position:absolute;
    top:1px;
    right:0;
    background:#f0ebe8;
    width:100%;
    height:98.8%;
    padding:2%;
    display: none;
    color:#fff !important;
    z-index:2;
    opacity: 0.7;
    border:2px solid #8c8c8c;
}
.nav-pills li>a{
	border-radius:0;
	font-size:16px;
	color:#111111;
	font-family:Lora-Regular;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #db1e48;
    background-color: transparent;
    border-bottom:2px solid #db1e48;
}
.tab-content-p{
	padding: 18px 5px;
    color: #6f2d91;
    text-align: justify;
    font-size: 16px;
    line-height: 1.6;
    font-family: Lora-Regular;
}
.container-padding-right{
	padding-right:0;
}
.cross-times a>i{
	margin-left: 180px;
    margin-top: 4px;
    color: red;
}
.icons-non-veg i{
	color:green;
	font-size:22px;
}
.icons-veg i{
	color:red;
	font-size:22px;
}
.item-name p{
	font-size:17px;
	font-family: Lora-Regular;
	color:#6f2d91;
}
.item-name2{
	font-size:16px;
	font-family: Lora-Regular;
	color:#999999;
	margin-bottom:25px;
}
.down-border-bottom{
	border-bottom: 1px solid #000;
}
.price-tag{
	margin-top:20px;
	margin-bottom:15px;
}
.price-tag h4{
	color:#7a7a7c;
	font-size:19px;
	font-family: Lora-Regular;
}
.add-button{
	margin-top:20px;
	margin-bottom:15px;
}
.add-btn{
	border-radius: 25px;
    color: #fff;
    background-color: #db1e48;
    outline:none;
    border-color:#db1e48;
}
.add-btn:hover{
    color: #fff;
    background-color:  #9c0526;
    border-color: #9c0526;
}
.add-btn:active:focus{
    color: #fff;
    background-color: #db1e48;
    outline:none;
    border:none;
}
.add-btn:focus{
    color: #fff;
    background-color:  #9c0526;
    outline:none;
    border:none;
}
.scroll-bar{
   	height: 601px;
   	overflow-y: scroll;
}
.scroll-bar::-webkit-scrollbar {
    width: 12px;
}

.scroll-bar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.scroll-bar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #4d4d4d; 
    background-color:#4d4d4d;
}
.your-order{
	float:right;
}
.your-order-background{
	padding:0;
}
.your-order-background h4{
	background-color:#f2f2f2;
	padding:25px;
	font-family:Lora-Regular;
	font-size:17px;
	margin:0;
	color:#6f2d91;
}
.your-order-background i{
	color:#db1e48;
}
.your-order-table>tbody>tr>td{
	padding: 10px;
}
.your-order-table>tbody>tr:first-child>td{
	vertical-align:middle;
}
.your-order-table>tbody>tr:nth-child(2)>td{
	vertical-align:middle;
}
.your-order-table>tbody>tr:nth-child(3)>td{
	vertical-align:middle;
}
.your-order-table>tbody>tr:nth-child(4)>td{
	vertical-align:middle;
}
.your-order-table>tbody>tr:nth-child(5)>td{
	vertical-align:middle;
}
.your-order-table>tbody>tr:nth-child(6)>td{
	vertical-align:middle;
}
.your-order-table>tbody>tr:nth-child(7)>td{
	vertical-align:middle;
}
.your-order-table>tbody>tr:first-child>td:nth-child(3){
	text-align: center;
	color:#6f2d91;
}
.your-order-table>tbody>tr:nth-child(2)>td:nth-child(3){
	text-align: center;
	color:#6f2d91;
}
.your-order-table>tbody>tr:nth-child(3)>td:nth-child(3){
	text-align: center;
	color:#6f2d91;
}
.your-order-table>tbody>tr:nth-child(4)>td:nth-child(3){
	text-align: center;
	color:#6f2d91;
}
.your-order-table>tbody>tr:nth-child(5)>td:nth-child(3){
	text-align: center;
	color:#6f2d91;
}
.your-order-table>tbody>tr:nth-child(6)>td:nth-child(3){
	text-align: center;
	color:#6f2d91;
}

.your-order-table>tbody>tr:first-child>td:nth-child(3)>i{
	color:#6f2d91;
}
.your-order-table>tbody>tr:nth-child(2)>td:nth-child(3)>i{
	color:#6f2d91;
}
.your-order-table>tbody>tr:nth-child(3)>td:nth-child(3)>i{
	color:#6f2d91;
}
.your-order-table>tbody>tr:nth-child(4)>td:nth-child(3)>i{
	color:#6f2d91;
}
.your-order-table>tbody>tr:nth-child(5)>td:nth-child(3)>i{
	color:#6f2d91;
}
.your-order-table>tbody>tr:nth-child(6)>td:nth-child(3)>i{
	color:#6f2d91;
}

.your-order-table>tbody>tr:first-child>td:nth-child(4){
	text-align: center;
}
.your-order-table>tbody>tr:nth-child(2)>td:nth-child(4){
	text-align: center;
}
.your-order-table>tbody>tr:nth-child(3)>td:nth-child(4){
	text-align: center;
}
.your-order-table>tbody>tr:nth-child(4)>td:nth-child(4){
	text-align: center;
}
.your-order-table>tbody>tr:nth-child(5)>td:nth-child(4){
	text-align: center;
}
.your-order-table>tbody>tr:nth-child(6)>td:nth-child(4){
	text-align: center;
}
.your-order-table>tbody>tr:first-child>td:nth-child(4)>i{
	font-size:19px;
}
.your-order-table>tbody>tr:nth-child(2)>td:nth-child(4)>i{
	font-size:19px;
}
.your-order-table>tbody>tr:nth-child(3)>td:nth-child(4)>i{
	font-size:19px;
}
.your-order-table>tbody>tr:nth-child(4)>td:nth-child(4)>i{
	font-size:19px;
}
.your-order-table>tbody>tr:nth-child(5)>td:nth-child(4)>i{
	font-size:19px;
}
.your-order-table>tbody>tr:nth-child(6)>td:nth-child(4)>i{
	font-size:19px;
}
.your-order-table{
	margin-bottom:0;
}
.your-order-table>tbody>tr>td>p{
	color:#c6c6c6;
	font-family:Lora-Regular;
	font-size:15px;
	-webkit-transition-duration: 0.3s; /* Safari */
  	transition-duration: 0.3s;
  	margin-bottom:3px;
}
.your-order-table>tbody>tr>td>p:hover{
	color:#000;
}
.your-order-table>tbody>tr>td>span{
	color:#c6c6c6;
	font-family:Lora-Regular;
	font-size:10px;
	-webkit-transition-duration: 0.3s; /* Safari */
  	transition-duration: 0.3s;
}
.your-order-table>tbody>tr>td>span:hover{
	color:#000;
}
.your-order-table>tbody>tr:last-child>td{
	padding:0;
}
.your-order-table>tbody>tr>td>h5{
	color:#6f2d91;
	font-size:17px;
	font-family:Lora-Regular;
}
.checkout-btn{
	 color: #fff;
    background-color: #db1e48;
    outline:none;
    border-color:#db1e48;
    border-radius:0;
  	padding: 15px;
    font-size: 16px;
    font-family: Lora-Regular;
    text-shadow: 0 2px 1px #000;
}
.checkout-btn:hover{
    color: #fff;
    background-color: #9c0526;
    border-color:#9c0526;
}
.checkout-btn:active:focus{
    color: #fff;
    background-color: #db1e48;
    outline:none;
    border:none;
}
.checkout-btn:focus{
    color: #fff;
    background-color: #9c0526;
    outline:none;
    border:none;
}
.scroll-bar-table{
	overflow-y: scroll;
	height:519px;
}
.scroll-bar-table::-webkit-scrollbar {
    width: 12px;
}

.scroll-bar-table::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.scroll-bar-table::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #4d4d4d; 
    background-color:#4d4d4d;
}
.increement{
	border-radius:20px;
	text-align:center;
	background-color:#f2f2f2;
	border:1px solid #ccc;
}
.button-arrow{
	cursor: pointer;
}
input:focus{
    outline: none;
}
.arrows{
	color:#6f2d91 !important;
	font-size:24px;
}
.badges-font{
	font-size:10px;
	color:#fff;
	background-color:#6f2d91;
}
.right-share-icon{
	position: absolute;
	right:0;
	top: 3px;
    padding-right: 0;
}
.right-share-icon i{
	color: #fff;
	font-size:25px;
	background-color:#db1e48;
	padding: 11px 15px;
}
.right-more-icon{
	position: absolute;
    bottom: 20px;
    right: 0;
}
.right-more-icon i{
	color: #fff;
	font-size: 24px;
    background-color: #db1e48;
    padding: 11px 11px;
	border-radius:100%;
}
.time-tag{
	position: absolute;
    left: 0;
    top: 13px;
    padding-left: 2px;
}